<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  
    <!-- add your embedded ruby here to display the variable from application_controller.rb -->
    
    
  </body>
</html>